@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #1F1F1F;
  --gray: #3A3A3A;
}

body {
  background-color: var(--black);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0.75rem;
}

h1 {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  font-weight: 600;
}

h2 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  font-weight: 500;
}

a {
  color: rgb(59 130 246);
}

.nav_left {
  display: flex;
}

.nav_right {
  display: flex;
  justify-content: flex-end;
}

.account_button {
  background-color: var(--gray);
  margin-top: 20px;
  padding: 12px 24px;
  border-radius: 12px;
}

.no-scrollbar {
  scrollbar-width: none;
}
